@import '../node_modules/@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
@import '../node_modules/@okta/okta-signin-widget/dist/css/okta-theme.css';


@mixin gotham {
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin gotham-light {
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#okta-sign-in.auth-container {
  margin: 0 auto;

  &.main-container {
    background-color: transparent;
    box-shadow: none;
    border: 0px solid transparent;
    @include gotham-light;
  }

  .okta-sign-in-header {
    display: none;
  }

  .okta-form-title {
    font-size: 18px;
    @include gotham;
    text-transform: uppercase;
    color: black;
  }

  .auth-divider {
    position: relative;
    background-color: transparent !important;

    .auth-divider-text {
      background-color: transparent;
      top: -.75em;
      color: #ccc;
    }
  }

  .social-auth-button.link-button {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    border-radius: 0px;
    border: 0px solid transparent;
    padding-left: 40px;
    text-align: center;
  }

  .social-auth-facebook-button {
    background: #37599E url(../img/icons/login/facebook_logo.png) no-repeat 10px;
  }

  .social-auth-google-button {
    background: #FF0000 url(../img/icons/login/google_logo.png) no-repeat 10px;
  }

  .social-auth-linkedin-button {
    background: #04659A url(../img/icons/login/linkedin_logo.png) no-repeat 10px;
  }

  .o-form {
    .o-form-input {
      .input-icon+input {
        padding-left: 0px;
        padding-right: 0px;
      }
      .input-icon {
        display: none;
      }
      .input-tooltip {
        display: none;
      }
    }
  }

  .auth-footer {
    .link.js-help {
      display: none;
    }
    .help-links {
      display: block !important;
    }
  }

  .button.button-primary {
    &, &.link-button-disabled {
      color: black;
      background: #eed950 none;
      border: 0px solid transparent;
      border-radius: 4px;
      text-transform: uppercase;
      &:hover, &:active, &:focus {
        text-decoration: underline;
        background: #eed950 none;
        color: black;
      }
    }
  }

  input[type=button],
  input[type=submit] {
    @include gotham;
    font-size: 14px;
    letter-spacing: 0.5px;
  }

  .registration-container {
    margin-top: 0;
    .content {
      padding: 0;
      text-align: center;
      border-top: 0px solid transparent;
    }
  }

  .okta-form-input-field {
    background-color: #fff;
    border: 0px solid transparent;
    border-bottom: 1px solid #404040;
    border-radius: 0;

    input {
      @include gotham-light;
    }
  }

  .auth-footer {
    text-align: center;
    font-size: 13px;
  }

  .link,
  .link:link,
  .registration-link {
    color: #009fe3;
  }

  /*
  /* Page Specific
  **/

  .primary-auth {
    .okta-form-title {
      display: none;
    }
  }

  .password-reset-email-sent,
  .forgot-password {
    padding: 100px 0;
  }

}
