@import '../node_modules/@okta/okta-signin-widget/dist/css/okta-sign-in.min.css';
@import '../node_modules/@okta/okta-signin-widget/dist/css/okta-theme.css';


@mixin gotham {
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

@mixin gotham-light {
  font-family: 'Gotham', Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#okta-sign-in.auth-container {
  margin: 0 auto;

  &.main-container {
    background-color: transparent;
    box-shadow: none;
    border: 0px solid transparent;
    @include gotham-light;
  }

  .okta-sign-in-header {
    display: none;
  }

  .okta-form-title {
    font-size: 18px;
    @include gotham;
    text-transform: uppercase;
  }

  .auth-divider {
    position: relative;
    background-color: transparent;

    &:after,
    &:before {
      display: block;
      content: " ";
      position: absolute;
      top: 0;
      width: 35%;
      border-top: 1px solid #ccc;
    }

    &:before {
      left: 5%;
    }
    &:after {
      right: 5%;
    }
    .auth-divider-text {
      background-color: transparent;
      top: -.75em;
      color: #ccc;
    }
  }

  .social-auth-button.link-button {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.05em;
    border-radius: 0px;
    border: 0px solid transparent;
    padding-left: 40px;
    text-align: center;
  }

  .social-auth-facebook-button {
    background: #37599E url(../img/icons/login/facebook_logo.png) no-repeat 10px;
  }

  .social-auth-google-button {
    background: #FF0000 url(../img/icons/login/google_logo.png) no-repeat 10px;
  }

  .social-auth-linkedin-button {
    background: #04659A url(../img/icons/login/linkedin_logo.png) no-repeat 10px;
  }

  .o-form-button-bar {
    .button {
      width: 60%;
      margin: 0 auto;
    }
  }

  .button-primary {
    color: black;
    background: transparent none;
    border: 2px solid black;
    border-radius: 4px;
    text-transform: uppercase;
    &:hover, &:active, &:focus {
      background: black;
      color: white;
    }
  }

  .registration-container {
    margin-top: 0;
    .content {
      padding: 0;
      text-align: center;
    }
  }

  .okta-form-input-field {
    background-color: #f7f7f7;
    border: 0px solid transparent;

    input {
      @include gotham-light;
    }
  }

  .auth-footer {
    text-align: center;
  }

  .link,
  .registration-link {
    color: #009fe3;
  }

  /*
  /* Page Specific
  **/

  .primary-auth {
    .okta-form-title {
      display: none;
    }
  }

  .forgot-password {
    padding: 100px 0;
  }

}
